#header{
	color: black;
	background-color: white;
	height: 70px;
}

#big{
	padding-left: 25px;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	cursor: pointer;
	text-align: left;
}

p{
	text-align: justify;
	font-family: 'Oxygen', sans-serif;
	color: #5A5A33;
}

h3, h2{
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}

hr.style-one { 
	border: 0; 
	height: 1px; 
	background: #333; 
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc); 
}

hr.style-two { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

a hover{
	font-weight: 5px;
}

ul li a{
	text-decoration: none;
}

#main{
	height: 100%;
}

#text{
	padding: 15px 50px 0px 50px;
	overflow: auto;
}

#text img{
	text-align: center;
}

#scrollBar{
	overflow: auto;
	overflow-x: hidden;
	padding-top: 10px;
	background-color: #ddd;
	height: 100%;
}

#ddbar{
	margin-top: 70px;
	background-color: #04C8A7;
	color: white;
	padding: 5px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

#notice{
	background-image: url(https://lh4.googleusercontent.com/--t29_6Tg5uU/UjKoA6V56tI/AAAAAAAAPZQ/5hDD3fbtegc/w1005-h176-no/Dscn5543.jpg);
	background-size:100% 100%;
	height: 160px;
	color:white;
}

#social img{
	max-width:75%; 
	max-height:75%;
	vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ul{
	list-style: none;
}

li{
	padding: 5px 0 5px 0;
	list-style: none;
	text-align: center;
	color: black;
}

.scroll li img{
	max-width:75%; 
	max-height:75%;
	cursor: pointer;
	margin:0 auto;
	border: 1px solid black;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#scrollTitle{
	text-align: center;
	cursor: pointer;
}

#categoryScroll a:hover, #allScroll a:hover
{
    color: gray !important;
    text-decoration: none !important;
}

#categoryScroll a, #allScroll a
{
    color: black !important;
}

.footer{
	background-color: #09090B;
	color: white;
	height: 50px;
	text-align: center;
}

.scrolling{
	height: 500%;
}

#post{
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding-top: 20px;
}

#post img{
	align: middle;
	/*width: 100%;*/
}

li.postList {
	margin-top: 15px;
}

#postSnip {
	padding: 15px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-color: #ddd;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#pvtitle img{
	margin:0 auto;
	border: 2fpx solid black;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width: 100%;
}

#related {
	background: rgba(255, 255, 255, 0.4);
	border:hidden 5px #000000;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-bottom: 10px;
}

#about{
	cursor: pointer;
}

.aboutImage img { 
	border:hidden 5px #000000;
	-moz-border-radius-topleft: 100px;
	-moz-border-radius-topright:100px;
	-moz-border-radius-bottomleft:100px;
	-moz-border-radius-bottomright:100px;
	-webkit-border-top-left-radius:100px;
	-webkit-border-top-right-radius:100px;
	-webkit-border-bottom-left-radius:100px;
	-webkit-border-bottom-right-radius:100px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	padding-bottom: 0px;
	width: 100%;
}